.ar {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 20px;
  display: flex;
  gap: 22px;
}

.form-title {
  width: 15.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 2.188rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: grey;
}

input[type=text] {
  width: 30%;
  padding: 15px;
  margin-left: 20px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

input::placeholder {
  text-align: left;
  color: #c4c4c4;
}

input:focus {
  outline: none;
  border: solid 1px #0290ff;
}

.category-input {
  width: 30%;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

button[type=submit] {
  cursor: pointer;
  width: 25%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.813rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
