.ar {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 75%;
}

input[type=text] {
  width: 30%;
  padding: 10px;
  margin: 30px;
}

input::placeholder {
  text-align: left;
}

button[type=submit] {
  width: 15%;
  padding: 10px;
}
