ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(206, 166, 166);
  justify-content: space-between;
  width: 80%;
  gap: 50px;
  margin: auto;
  text-align: center;
  align-items: baseline;
}
