.nav {
  width: 83.5rem;
  height: 3.938rem;
  margin: 0 0 1.375rem;
  padding: 1.438rem 2.188rem 1.688rem 2.25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 16rem;
  height: 3.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  padding-left: 4.134rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-book {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.853rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.nav-category {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 37.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.nav-link {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.img {
  width: 30.063rem;
  height: 3.063rem;
  padding-right: 30px;
}
