body {
  width: 100rem;
  padding: 9.313rem 3.75rem 7.688rem 6.25rem;
  background-color: var(--pale-grey);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  width: 87.5rem;
  padding: 0 0 0.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  margin: 0 auto;
}
